.draft {
  padding-left: 20px;
  /* border-left: 4px solid #072a6c; */
  border-left: 4px solid #34495e;
  max-width: 610px;
  font-size: 20px;
  line-height: 1.625;
  margin-bottom: 30px;
}

.draft:before {
  content: 'Dieser Artikel ist noch ein Entwurf, sobald er fertig ist, wird er auf der Startseite verlinkt und der Eintrag im Menue entsprechend angepasst.';
}

.underline {
  text-decoration: underline;
}

.markdown-section li > blockquote,
.markdown-section li > blockquote > p {
  margin: 0;
}
