.container {
  padding: 16px;
}

.container :global(a) {
  color: inherit;
  cursor: pointer;
}

.container :global(a:hover) {
  text-decoration: underline;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
  margin-bottom: 16px;
}

.navToggle {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  text-indent: -9999px;
  height: 52px;
  width: 52px;
  cursor: pointer;
} 

.navToggle:before {
  content: '';
  position: absolute;
  top: 16px;
  display: block;
  border-top: 3px solid #000;
  width: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.navToggle:after {
  content: '';
  width: 25px;
  height: 11px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  display: block;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: translateX(-50%);
}

.inMenuClose {
  display: none;
}

.closeNavLink {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .container.showNav {
    height: 100vh;
  }

  .logo {
    padding: 10px;
    margin-bottom: 0;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }

  .nav {
    display: none;
  }

  .navToggle,
  .closeNavLink {
    display: block;
  }

  .closeNavLink {
    font-size: 14px;
    color: black;
    cursor: pointer;
    margin: 10px 10px 20px;
    width: calc(100% - 20px);
    border-radius: 4px;
    padding: 5px 10px;
    background: #FFA500;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }

  .closeNavLink:hover {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
  }

  .showNav .nav {
    background: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    z-index: 1000;
  }

  .showNav .inMenuClose {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px 10px 0;
    font-size: 14px;
  }
}
