html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.underline {
  text-decoration: underline;
}

.draft:before {
  content: 'Entwurf';
  font-size: 32px;
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
}

.draft:after {
  display: block;
  content: 'Dieser Artikel ist noch ein Entwurf, sobald er fertig ist, wird er auf der Startseite verlinkt und der Eintrag im Menue entsprechend angepasst.';
  padding-left: 20px;
  border-left: 4px solid #34495e;
  max-width: 610px;
  font-size: 20px;
  line-height: 1.625;
  margin-bottom: 30px;
}

.underline {
  text-decoration: underline;
}

.markdown-section li > blockquote,
.markdown-section li > blockquote > p {
  margin: 0;
}

@media print {
  .toc {
    display: none;
  }
}
